<% name ||= "Crear" %>
<h1><%= name %> articulo</h1>
<%= form_for (@article) do |f|%>
	<% @article.errors.full_messages.each do |message|%>
		<div class="be-red white">
			* <%= message%>
		</div>
	<%end%>
	<div class="field">
		<%= f.text_field :title, placeholder: "Titulo", class:"btn"%>
	</div>
	<div class="field">
		Portada: <%= f.file_field :cover %>
	</div>
	<div class="field">
		<%= f.text_area :body, placeholder: "Escribe aqui el articulo", style:"height:250px;", class:"btn"%>
	</div>
	<div class="field">
		<%= f.submit "Guardar" ,class:"btn"%>
	</div>
<%end%>