<h1><%= @article.title %></h1>
<% unless @article.user.nil? %>
	<p>
		Escrito por: <%= @article.user.email%>
	</p>
<% end %>
<div class="field">
	<%= image_tag @article.cover.url %>
</div>
<p>
	Visitas: <%= @article.visits_count %>
</p>
<div>
	<%= @article.body %> - <%= link_to "Editar", edit_article_path(@article), class:"red"%>
</div>
<div class="field">
	<ul id="comments-box">
		<% @article.comments.each do |comment| %>
			<li>
				<%= comment.body %> - <%= comment.user.email %>
			</li>
		<%end%>
	</ul>
	<h3>Comentario</h3>
	<%= render "comments/form" %>
</div>