<header>
	<nav class="be-red white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md">
				<h4 class="no-margin" id="logo"><%= link_to "Blog Facilito", root_path %></h4>
			</li>
			<li class="col-md">
				Diseno
			</li>
			<li class="col-md">
				Programacion
			</li>
			<li class="col-md">
				Tecnologia
			</li>
			<%if user_signed_in? %>
				<li class="col-md">
  					<%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete%>
				</li>
			<%else%>
				<li class="col-md">
  					<%= link_to "Iniciar sesion", new_user_session_path%>
				</li>
				<li class="col-md">
					<%= link_to "Crear cuenta", new_user_registration_path%>
				</li>
			<%end%>
		</ul>
	</nav>
</header>
