html,body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
}
ul{
	list-style-type: none;
}
a,a:visited{
	color: inherit;
	text-decoration: none;
}
.red{
	color: #E74C3C !important;
}
.be-red{
	background-color: #F22233;
}
.white{
	color: white;
}
.large-padding{
	padding: 0.2em 0.8em;
}
.field{
	margin-top: 1em;
}
.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}
.btn{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}